@model List<Booking>

<div class="row">
	<div class="w-100 card">
		<div class="card-header bg-success bg-gradient text-center m-3">
			<h2>Villa Bookings</h2>
		</div>

		<div class="card-body">
			
			<table id="bookingTable" class="table table-hover table-striped table-bordered">

				<thead>
					<tr>

						<th>Id</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Status</th>
						<th>CheckInDate</th>
						<th>Nights</th>
						<th>VillaName</th>
						<th>Total</th>
						<th>Details</th>

					</tr>

				</thead>
				<tbody>
					
				</tbody>

			</table>






		</div>

	</div>
</div>
@section Scripts{
	<script src="~/js/booking.js">

	</script>
}